<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfmoS7dmfZm0Ua_3paxo4we-tS3_cuMXo</string>
	<key>GCM_SENDER_ID</key>
	<string>195728888536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easymath.ryan.easymath</string>
	<key>PROJECT_ID</key>
	<string>ezmath-9d2a6</string>
	<key>STORAGE_BUCKET</key>
	<string>ezmath-9d2a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195728888536:ios:c9928eb0af52dcf2477dad</string>
</dict>
</plist>